In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Castro,BR,2021-05-29 19:11:12,-24.7911,-50.0119,72.72,64,5,10.18
1,1,Bilibino,RU,2021-05-29 19:16:08,68.0546,166.4372,46.42,54,89,2.26
2,2,Atuona,PF,2021-05-29 19:12:27,-9.8000,-139.0333,78.71,71,3,10.58
3,3,Georgetown,MY,2021-05-29 19:11:21,5.4112,100.3354,84.13,83,20,5.01
4,4,Ust-Tarka,RU,2021-05-29 19:16:08,55.5672,75.7050,62.35,49,74,10.49

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Atuona,PF,2021-05-29 19:12:27,-9.8000,-139.0333,78.71,71,3,10.58
3,3,Georgetown,MY,2021-05-29 19:11:21,5.4112,100.3354,84.13,83,20,5.01
5,5,Avarua,CK,2021-05-29 19:16:09,-21.2078,-159.7750,75.25,64,17,4.61
12,12,Rikitea,PF,2021-05-29 19:16:11,-23.1203,-134.9692,77.05,86,100,19.75
15,15,Victoria,HK,2021-05-29 19:15:01,22.2855,114.1577,86.38,88,92,1.99
17,17,Kapaa,US,2021-05-29 19:14:59,22.0752,-159.3190,80.92,71,75,1.99
20,20,Dalbandin,PK,2021-05-29 19:16:12,28.8947,64.4101,86.72,12,0,4.16
24,24,Faanui,PF,2021-05-29 19:16:14,-16.4833,-151.7500,79.43,68,54,5.01
33,33,Butaritari,KI,2021-05-29 19:16:16,3.0707,172.7902,82.69,78,100,15.79
39,39,Amapa,BR,2021-05-29 19:16:18,1.0000,-52.0000,80.55,94,21,3.71

In [26]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2       Atuona      PF     78.71  -9.8000 -139.0333
3   Georgetown      MY     84.13   5.4112  100.3354
5       Avarua      CK     75.25 -21.2078 -159.7750
12     Rikitea      PF     77.05 -23.1203 -134.9692
15    Victoria      HK     86.38  22.2855  114.1577
17       Kapaa      US     80.92  22.0752 -159.3190
20   Dalbandin      PK     86.72  28.8947   64.4101
24      Faanui      PF     79.43 -16.4833 -151.7500
33  Butaritari      KI     82.69   3.0707  172.7902
39       Amapa      BR     80.55   1.0000  -52.0000

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [35]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Atuona,PF,78.71,-9.8000,-139.0333,Villa Enata
3,Georgetown,MY,84.13,5.4112,100.3354,Cititel Penang
5,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
12,Rikitea,PF,77.05,-23.1203,-134.9692,Pension Maro'i
15,Victoria,HK,86.38,22.2855,114.1577,Mini Hotel Central
17,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Dalbandin,PK,86.72,28.8947,64.4101,Sanjrani House
24,Faanui,PF,79.43,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
33,Butaritari,KI,82.69,3.0707,172.7902,Isles Sunset Lodge
39,Amapa,BR,80.55,1.0000,-52.0000,

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))